<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://media-exp1.licdn.com/dms/image/C5603AQHw3bDbVYE4vQ/profile-displayphoto-shrink_200_200/0?e=1586390400&v=beta&t=ZPWPr8YZ1zOEJV6fyCuiO51sU27zlxq6QWAB2CdsweE">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
